.main_div h2 {
  color: #e68f50;
  text-align: center;
  font-family: Outfit;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main_div p {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02438rem;
}

.data_div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.digital_service_data {
  width: 25rem;
  height: 25rem;
  flex-shrink: 0;
  position: relative;
  left: 7rem;
  border-radius: 1.5625rem;
  border: 1px solid #0a56f1;
  background: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0) 50%);
}

.right_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.digital_service_data p {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02625rem;
}

.digital_service_titleLogo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.digital_service_titleLogo img {
  width: 2.1875rem;
  height: 2.1875rem;
  flex-shrink: 0;
}

.digital_service_titleLogo h3 {
  color: #0a56f1;
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03rem;
}

@media (max-width: 768px) {
  .main_div h2 {
    color: #e68f50;
    text-align: center;
    font-family: Outfit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .main_div p {
    color: #36454f;
    text-align: center;
    font-family: Outfit;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02438rem;
  }

  .data_div {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .digital_service_data {
    width: 18.75rem;
    height: 14.1875rem;
    position: inherit;
    /* flex-shrink: 0; */
    border-radius: 1.5625rem;
    border: 1px solid #0a56f1;
    background: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0) 50%);
  }

  .right_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .digital_service_data p {
    color: #36454f;
    text-align: center;
    font-family: Outfit;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02625rem;
  }

  .digital_service_titleLogo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .digital_service_titleLogo img {
    width: 2.1875rem;
    height: 2.1875rem;
    flex-shrink: 0;
  }

  .digital_service_titleLogo h3 {
    color: #0a56f1;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03rem;
  }
}
