.trip_div {
  width: 38.75rem;
  height: 22.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
  position: relative;
  top: 2rem;
  border-radius: 1.5625rem;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.main_div {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.trip_div h1 {
  color: #e68f50;
  text-align: center;
  font-family: Outfit;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.trip_div_p1 {
  color: #0a56f1;
  text-align: center;
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 136.364% */
  letter-spacing: 0.04125rem;
}

.trip_div_p2 {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0375rem;
}

.occasion_div {
  width: 38.75rem;
  height: 22.8125rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3rem;
  border-radius: 1.5625rem;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.occasion_div h1 {
  color: #e68f50;
  text-align: center;
  font-family: Outfit;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.occasion_div_p1 {
  color: #0a56f1;
  text-align: center;
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 136.364% */
  letter-spacing: 0.04125rem;
}

.occasion_div_p2 {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0375rem;
}

.tours_div h1 {
  color: #e68f50;
  text-align: center;
  font-family: Outfit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tours_div p {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02438rem;
}

.travel_services_data_div {
  gap: 10px;
  display: inline-flex;
  margin-bottom: 2rem;
}

.travel_services {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18.75rem;
  height: 15.375rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  border: 1px solid rgba(101, 101, 101, 0.25);
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(101, 101, 101, 0.25);
}

.travel_services img {
  width: 3.125rem;
  height: 3.125rem;
  flex-shrink: 0;
}

.travel_services h3 {
  color: #0a56f1;
  text-align: center;
  font-family: Outfit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03rem;
}

.travel_services p {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02438rem;
}

@media (max-width: 768px) {
  .main_div {
    display: flex;
    flex-direction: column;
  }
  .trip_div {
    width: 23.4375rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  .trip_div h1 {
    color: #e68f50;
    text-align: center;
    font-family: Outfit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .trip_div_p1 {
    color: #0a56f1;
    text-align: center;
    font-family: Outfit;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02813rem;
  }

  .trip_div_p2 {
    color: #36454f;
    text-align: center;
    font-family: Outfit;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02438rem;
  }

  .occasion_div {
    width: 23.4375rem;
    height: 18rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3rem;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  .occasion_div h1 {
    color: #e68f50;
    text-align: center;
    font-family: Outfit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .occasion_div_p1 {
    color: #0a56f1;
    text-align: center;
    font-family: Outfit;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02813rem;
  }

  .occasion_div_p2 {
    color: #36454f;
    text-align: center;
    font-family: Outfit;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02438rem;
  }

  .tours_div h1 {
    color: #e68f50;
    text-align: center;
    font-family: Outfit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .tours_div p {
    color: #36454f;
    text-align: center;
    font-family: Outfit;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02438rem;
  }

  .travel_services_data_div {
    gap: 10px;
    display: inline-flex;
    margin-bottom: 2rem;
  }

  .travel_services {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 15.375rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    border: 1px solid rgba(101, 101, 101, 0.25);
    background: #fff;
    box-shadow: 0px 8px 10px 0px rgba(101, 101, 101, 0.25);
  }

  .travel_services img {
    width: 3.125rem;
    height: 3.125rem;
    flex-shrink: 0;
  }

  .travel_services h3 {
    color: #0a56f1;
    text-align: center;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03rem;
  }

  .travel_services p {
    color: #36454f;
    text-align: center;
    font-family: Outfit;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02438rem;
  }
}
